:root {
    --navbar-height: 60px !important;
    --padding-right: calc(env(safe-area-inset-right) + 50px) !important;
    --padding-left: calc(env(safe-area-inset-left) + 50px) !important;
}
@media (max-width: 600px) {
    :root {
        --padding-right: 5% !important;
        --padding-left: 5% !important;
    }
}

/* Desktop version */
.notion-root:first-child >  details:first-of-type  {
    display:none !important;
}

 .notion-navbar {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4) !important;
    padding-right: var(--padding-right) !important;
    padding-left: var(--padding-left) !important;
    height: var(--navbar-height) !important;
    background: #fff !important;
    position: fixed !important;
    -webkit-backdrop-filter: blur(20px) !important;
    -moz-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
}
.notion-breadcrumb__divider,
.notion-breadcrumb__item  {
    display: none !important;
}
.notion-navbar a[href="/"] {
    display: flex !important;
}
.notion-navbar>a:hover {
    background: none !important;
}
.notion-navbar__title {
    overflow: visible !important;
    font-size: 16px !important;
}

.notion-root:first-child > blockquote:first-of-type {
    flex-direction: column !important;
    position: relative !important;
    font-size: 16px !important;
    z-index: auto !important;
    display: flex !important;
    border: none !important;
    height: auto !important;
    right: auto !important;
    left: auto !important;
    padding: 0 !important;
    top: auto !important;
}
.notion-root:first-child > .blockquote:first-of-type span,
.notion-root:first-child > blockquote:first-of-type .link {
    display: block !important;
    width: 100% !important;
}

.notion-root:first-child > blockquote:first-of-type .notion-semantic-string .link {
    letter-spacing: -1px !important;
    line-height: 1.5 !important;
    font-weight: 300 !important;
    font-size: 16px !important;
}
.notion-root:first-child > blockquote:first-of-type {
    padding: 0 var(--padding-right) 0 0 !important;
    height: var(--navbar-height) !important;
    justify-content: flex-end !important;
    align-items: center !important;
    flex-direction: row !important;
    position: fixed !important;
    z-index: 9999 !important;
    margin: 0 !important;
    right: 0 !important;
    top: 0 !important;
}
.notion-root:first-child > blockquote:first-of-type span,
.notion-root:first-child > blockquote:first-of-type .link {
    display: inline !important;
}

 .notion-root:first-child > blockquote:first-of-type .notion-semantic-string .link {
    letter-spacing: -0.4px !important;
    font-size: 16px !important;
    line-height: 1 !important;
    border: none !important;
}

/* mobile version */
@media (max-width: 600px) {

    .notion-root:first-child > blockquote:first-of-type {
        display: none !important;
        }
    .notion-root:first-child >  details:first-of-type  {
        display:flex !important;
        justify-content: flex-end !important;
        align-items: center !important;
        flex-direction: row !important;
        position: fixed !important;
        z-index: 9999 !important;
        margin: 0 !important;
        right: calc(0% + var(--padding-left) ) !important;
        top: calc(0% + 12px) !important;
    }
    .notion-root:first-child >  details:first-of-type .notion-toggle__content {
        justify-content: flex-end !important;
        align-items: center !important;
        flex-direction: row !important;
        position: fixed !important;
        z-index: 9999 !important;
        margin: 0 !important;
        top: 50px !important;
        background: white;
        width: calc(100% + 24px) !important;
        left: calc(env(safe-area-inset-left) - 24px) !important;
        box-shadow: 40px 20px 20px 0px rgb(0 0 0 / 10%) !important;
    }

    .notion-root:first-child >  details:first-of-type[open] summary ~ * {
        animation: rotateMenu 400ms ease-in-out forwards;
        transform-origin: top center;
      }

      @keyframes rotateMenu {
            0% {
                transform: rotateX(-90deg)
            }
            70% {
                transform: rotateX(20deg) 
            }
            100% {
                transform: rotateX(0deg) 
            }
      }

    .notion-root:first-child > details:first-of-type .notion-toggle__summary:before {

        content: url(https://super.so/icon/dark/menu.svg) !important;
    }
    .notion-root:first-child > details:first-of-type[open] .notion-toggle__summary:before {

        content: url(https://super.so/icon/dark/x.svg) !important;
    }

    .notion-root:first-child > details:first-of-type .notion-toggle__content .notion-bulleted-list {
        list-style-type: none;
        font-weight: 300 !important;
        font-size: 14px !important;
        padding-left: 0 !important;
    }
    .notion-root:first-child > details:first-of-type .notion-toggle__content .notion-bulleted-list .link{
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        border: none !important;
        text-align: center;
        user-select: none;
    }
    .notion-root:first-child > details:first-of-type .notion-toggle__content .notion-bulleted-list .link:hover{
        opacity: 1;
        color: var(--color-text-purple);
    }


}